fastapi = "==0.110.0"
uvicorn = "==0.28.1"
geopy = "==2.4.1"
sqlalchemy = "==2.0.28"
geographiclib = "==2.0"
pydantic = "==2.6.4"
pydantic-core = "==2.16.3"
python-dotenv = "==1.0.1"
pyyaml = "==6.0.1"
starlette = "==0.36.3"
